<div class="searcher__item searcher__item-destination">
    <div class="searcher__item-container app_destination-select">
        {{> atoms-map }}
        <span>Alojamiento o destino</span>
    </div>
    <div class="searcher__item-dropdown shadow-lg ring-1 ring-black ring-opacity-5 hidden app_destination-options">
        <div class="searcher__item-dropdown-container">
            <div class="searcher__item-dropdown-content searcher__item-dropdown-content--left">
                <div class="searcher__item-dropdown-title">Tu mejor opción en...</div>
                <ul class="searcher__item-dropdown-list">
                    {{#each destinations}}
                    <li class="searcher__item-dropdown-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="searcher__item-dropdown-content searcher__item-dropdown-content--right">
                <div class="searcher__item-dropdown-title">Alojamientos</div>
                <ul class="searcher__item-dropdown-grid">
                    {{#each accommodations}}
                    <li class="searcher__item-dropdown-grid-item app_accommodation-item">
                        <img class="searcher__item-dropdown-grid-image" src="{{this.image}}" alt="{{this.name}}" width="112">
                        <div class="searcher__item-dropdown-grid-text">{{this.name}}
                            <span>{{this.location}}</span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
